<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="dark">
            GIS
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="/assets/GrupInv/gis.jpg" />
        <ion-card-header>
            <ion-card-title>GRUPO DE INVESTIGACIÓN EN SOFTWARE </ion-card-title>
            <ion-card-subtitle color="black">Descripción</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
            <ion-label>
                El Grupo de Investigación en Software GIS, fue creado con el propósito de generar un espacio para la investigación de los diferentes tópicos que cubren los nuevos requerimientos tecnológicos que están a la vanguardia del medio actual. Es por esto que
                se están desarrollando proyectos relacionados con Sistemas Multiagentes, Simulación, Dinámica de Sistemas, captura de señales biomédicas, desarrollo de video juegos y otros importantes aspectos informáticos. Además se busca la publicación
                y divulgación de los principales hallazgos que realice el grupo en sus diferentes áreas y poder compartir experiencias tanto investigativas como personales en el desarrollo de esta labor.
            </ion-label>
        </ion-card-content>
    </ion-card>

</ion-content>