<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="dark">
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngFor="let a of principal">
    <ion-card class="welcome-card">
        <img style="width: 246px; height: 191px;" src="/assets/logo.png" class="center" />
        <ion-card-header>
            <ion-card-title>{{a.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
            <label> {{a.descripcion}} </label>
        </ion-card-content>
    </ion-card>
</ion-content>