<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="dark">
            Infelcom
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngFor="let a of infelcom">
    <ion-card color="medium">
        <img src="/assets/GrupInv/infelcom.jpg" />
        <ion-card-header>
            <ion-card-title>{{a.title}}</ion-card-title>
            <ion-card-subtitle color="black">Descripción</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
            <ion-label>
                {{a.descripcion}}
            </ion-label>
        </ion-card-content>
    </ion-card>
</ion-content>