<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="dark">
            Información de contacto
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <img src="/assets/qr.png" class="center" />

    <ion-list-header>
        <h1>Contactos</h1>
    </ion-list-header>
    <p>
        <ion-button name="logo-facebook" href="https://www.facebook.com/groups/160626413991175/">Facebook</ion-button>
        <ion-chip color="warning">
            <ion-icon name="mail-unread"></ion-icon>
            <ion-label>ingenieria.sistemas@uptc.edu.co</ion-label>
        </ion-chip>
    </p>
</ion-content>