<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="dark">
            Grupos de investigación
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-list>
        <ion-item href='/infelcom'>
            <ion-avatar slot="start">
                <img src="/assets/GrupInv/infelcom.jpg">
            </ion-avatar>
            <ion-label>
                <h2>Infelcom</h2>
                <h3>GRUPO DE INVESTIGACIÓN EN INFORMÁTICA, ELECTRÓNICA Y COMUNICACIONES</h3>
                <p>Generar soluciones innovadoras en el área de las Redes de Datos, Comunicaciones y actividades de gestión de recursos computacionales dispuestos en una organización tan simple como una empresa y tan compleja como la misma Internet</p>
            </ion-label>
        </ion-item>
        <ion-item href='/gimi'>
            <ion-avatar slot="start">
                <img src="/assets/GrupInv/gimi.jpg">
            </ion-avatar>
            <ion-label>
                <h2>Gimi</h2>
                <h3>Grupo Investigación en Manejo de Información</h3>
                <p>Las bases de datos como una de los esquemas más relevantes de manejo de información estructurada, surgen desde mediados de los años sesenta y han marcado la línea de investigación por muchos años</p>
            </ion-label>
        </ion-item>
        <ion-item href='/gis'>
            <ion-avatar slot="start">
                <img src="/assets/GrupInv/gis.jpg">
            </ion-avatar>
            <ion-label>
                <h2>GIS</h2>
                <h3>GRUPO DE INVESTIGACIÓN EN SOFTWARE </h3>
                <p>Desarrollo proyectos relacionados con Sistemas Multiagentes, Simulación, Dinámica de Sistemas, captura de señales biomédicas, desarrollo de video juegos y otros importantes aspectos informáticos.</p>
            </ion-label>
        </ion-item>
        <ion-item href='/telematics'>
            <ion-avatar slot="start">
                <img src="/assets/GrupInv/telematics.png">
            </ion-avatar>
            <ion-label>
                <h2>Telematics</h2>
                <h3>Grupo de Investigación en Telemática y TIC aplicada a la Educación</h3>
                <p>Aplicada a la educación, desarrolla procesos de investigación e innovación centrados en el uso y aprovechamiento de la tecnología telemática para beneficiar a la sociedad, academia y entorno, fundamentalmente desde el aspecto educacional.</p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>