<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="dark">
            Docentes
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-content fullscreen *ngFor="let a of profesores">
        <ion-list>
            <ion-list-header>
                <h1>Información docentes</h1>
            </ion-list-header>

            <ion-item>
                <ion-label>
                    <h3>Jorge Enrique Otálora Luna</h3>
                    <p>jorge.otalora@uptc.edu.co</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>GUSTAVO CÁCERES CASTELLANOS</h3>
                    <p>gustavo.caceres@uptc.edu.co</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>JORGE ENRIQUE QUEVEDO REYES</h3>
                    <p>jorge.quevedo@uptc.edu.co</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>JUAN JOSÉ CAMARGO VEGA</h3>
                    <p>jjcamargo@uptc.edu.co</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>MAURO CALLEJAS CUERVO</h3>
                    <p>mauro.callejas@uptc.edu.co</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>MIGUEL ÁNGEL MENDOZA MORENO</h3>
                    <p>miguel.mendoza@uptc.edu.co</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>ALEXANDER CASTRO ROMERO</h3>
                    <p>alexander.castro01@uptc.edu.co</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>BEATRIZ CALLEJAS CUERVO</h3>
                    <p>beatriz.callejas@uptc.edu.co</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>HELVER AGUSTO VALERO BUSTOS</h3>
                    <p>helver.valero@uptc.edu.co</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>JORGE GABRIEL HOYOS PINEDA</h3>
                    <p>jorge.hoyos@uptc.edu.co</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>JUAN SEBASTIÁN GONZÁLEZ SANABRIA</h3>
                    <p>juansebastian.gonzalez@uptc.edu.co</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>OMAIRA ISABEL GALINDO PARRA</h3>
                    <p>omaira.galindo@uptc.edu.co</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>MAURO ASDRUBAL PITA PUERTO</h3>
                    <p>mauro.pita@uptc.edu.co</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>DEISY JOHANA DÍAZ PÉREZ</h3>
                    <p>deisy.diaz03@uptc.edu.co</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>CARLOS FERNANDO ARENAS FONSECA</h3>
                    <p>carlos.arenas@uptc.edu.co</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>Alex Puertas Gonzalez</h3>
                    <p>alex.puertas@uptc.edu.co</p>
                </ion-label>
            </ion-item>

        </ion-list>
    </ion-content>