<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="dark">
            General
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngFor="let a of general">
    <ion-card-header>
        <ion-card-title>Misión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <label> {{a.mision}} </label>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>Visión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>{{a.vision}}</p>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>Objetivos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-card-header>
            <ion-card-title>General</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{a.objetivos.general}}</p>
        </ion-card-content>
        <ion-card-header>
            <ion-card-title>Específicos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{a.objetivos.especificos.primero}}</p>
            <p>{{a.objetivos.especificos.segundo}}</p>
            <p>{{a.objetivos.especificos.tercero}}</p>
            <p>{{a.objetivos.especificos.cuarto}}</p>
        </ion-card-content>
    </ion-card-content>
</ion-content>