<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="dark">
            General
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-header>
        <ion-card-title>Misión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>El programa de Ingeniería de Sistemas y Computación pretende fomentar en el futuro profesional un pensamiento crítico, ético, innovador en lo tecnológico e investigativo, para la construcción y aplicación permanente del conocimiento en las tecnologías
            informáticas, que den solución a las necesidades de su contexto, contribuyendo al crecimiento social del entorno.</p>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>Visión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>El programa de Ingeniería de Sistemas y Computación se proyecta como un núcleo de saberes apoyado en una estructura curricular flexible, un cuerpo administrativo idóneo, una infraestructura física actualizada; acorde con los avances tecnológicos
            del área, y una comunidad académica innovadora, comprometida con la investigación, que permita interactuar con la universalidad de la informática; formando profesionales con pensamiento crítico, ético, humanístico e investigativo. Para cumplir
            la misión y los objetivos propuestos, el programa contará con docentes altamente calificados, espacios adecuados para la investigación, acceso a redes de comunicación, laboratorios, software y el soporte económico para el mantenimiento y renovación
            de dichos recursos. Además, se contará con convenios interdisciplinarios e interinstitucionales, nacionales e internacionales.</p>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>Objetivos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-card-header>
            <ion-card-title>General</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Formar profesionales íntegros en ingeniería de sistemas y computación, capaces de proveer soluciones enmarcadas en conceptos de calidad a problemas del entorno, aplicando técnicas, métodos y herramientas acordes con los avances de la informática.</p>
        </ion-card-content>
        <ion-card-header>
            <ion-card-title>Específicos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Promover la formación humanística, como parte del desarrollo integral del profesional.</p>
            <p>Formar un profesional con conocimientos en ciencias básicas, técnicas y de profundización de la profesión. </p>
            <p>Incentivar al estudiante para que analice los diferentes conocimientos y desarrolle su creatividad e innovación, necesarias en la generación de nuevas herramientas o procedimientos para la solución de problemas.</p>
            <p>Desarrollar en el estudiante habilidades investigativas, a través de metodologías y técnicas del proceso investigativo.</p>
        </ion-card-content>
    </ion-card-content>


</ion-content>